header{
  padding: 10px 200px;
}
.title-section{
  display: flex;
  font-size: 36px;
  font-weight: 800;
}
#nav-img{
  margin: auto 20px;
  width: 48px;
  height: 56px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{ 
  text-decoration: none;
  color:var(--Dark-02, #424247);;
  font-size: 18px;
  font-weight: 400;
}
.orange-clr{
  color: #FF5400;
}
/* explore section */
.explore{
  border-radius: 16px;
  background-image:url(assets/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  padding:50px 0 50px 0 ;
}
.explore-title{
  color: white;
  font-size: 64px;
  font-weight: 800px;
}
#explore-description{
  color: white;
}
.description{
  font-size: 16px;
  font-weight: 400;
}
.options{
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
}
#options{
  border: none;
  border-radius: 8px;
  width: 174px;
  height: 52px;
  padding-left: 20px;
  text-decoration: none;
}
/* tours section */
.tour-section{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.title{
  margin: 0;
  font-size: 40px;
  font-weight: 800;
}
.tour-details{
  padding-top: 30px;
}
.btn-primary{
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
  background: #FF5400;
  margin-bottom: 10px;
}
/* destination section */
.destination{
  margin-top: 80px;
  text-align: center;
}
/* why choose us section */
.choose-us{
  margin-top: 80px;
}
.choose-us-description{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.choose-us img{
  width: 60px;
  height: 60px;
}
.choose-us-title{
  text-align: center;
} 
.card-title{
  font-size: 32px;
  font-weight: 700;
}
#card3{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card1, .card2, .card3{
  padding: 20px;
  padding-top: 40px;
  width: 560px;
  height: 265px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}
/* newsletter section */
.news-section{
  margin-left: 300px;
  margin-top: 80px;
  display: flex;
  /* align-items: center; */
  gap: 40px;
}
.newsletter{
  width: 474px;
  height: 360px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #FF5400;
}
#contact{
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 52px;
  background: rgba(19, 19, 24, 0.05);
  padding-left: 20px;
  text-decoration: none;
  margin-top: 20px;
}
#btn-primary{
  width: 84%;
  margin-top: 20px;
}
.discount{
  background-image: url(assets/Rectangle\ 8\ \(1\).png);
  width: 680px;
  background-repeat: no-repeat;
}
.discount-description{
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 16px;
  background: #FF5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  margin-top: 250px;
  margin-left: 340px;
  text-align: center;
}
/* footer section */
footer{
  background-color: rgba(19, 19, 24, 0.05);
  width: 100%;
  margin-top: 80px;
  text-align: center;
  padding: 0 80px 80px 0;
}
#footer{
  justify-content: center;
}
#footer-img{
  width: 24px;
  height: 24px;
  padding-left: 30px;
}
footer hr{
  background: rgba(19, 19, 24, 0.10);
  width: 60%;
}
/* Mobile-device */
@media screen and (max-width:600px) {
  header{
    padding: 10px 5px;
  }
  .title-section{
    font-size: 22px;
  }
  .options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tour-section{
    display: flex;
    flex-direction: column;
  }
  .choose-us{
    display: flex;
    flex-wrap: wrap;
  }
  .choose-us-description{
    display: flex;
    flex-direction: column;
  }
  .news-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
  }
  .discount{
    width: 535px;
    height: 500px;
  }
  .discount-description{
    width: 274px;
    height: 100px;
    margin-top: 250px;
    margin-left: 240px;
  }
}